body {
    font-family: Roboto;
    background: url('../img/bg_middle.jpg') center center/ cover repeat;
}

nav {
    margin-top: 10px;
    display: flex;

}


.form-control {
    width: 40%;
}

.menu  {
    display: flex;
    align-content: center;
    padding: 5px 0 5px 0;

}

.menu .menu_btn {
    display: flex;
}

.menu .logo-ref {
    display: flex;
}

.menu a {
    margin-right: 5px;
    text-decoration: none;
}

.menu .menu_btn .logo_title {
    color:rgb(122, 122, 122);
    text-align: center;
    line-height: 36px;
} 

.menu .menu_btn img {
    margin-right: 5px;
}

.logout {
    display: flex;
    justify-content: right;
    align-content: center;

}

.logout .user_name_loggin {
    margin-right: 20px;
    padding: 7px 0 5px 0;
}

.logout .user_name_loggin span {
    color: blue;
    font-weight: bold;

}

.login_form {
    margin-top: 20px;
}

.login_form .login_form_fields {
    margin-top: 15px;
}

.logout .singup_logout_btn {
    margin-right: 10px;

}

.logout .singup_logout_btn a {
    text-decoration: none;
}

.greeting {
    color:rgb(122, 122, 122);
    margin-top: 150px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-style: Roboto;
    font-weight: bold;
}

.greeting .singup_logout_btn {
    margin-left: 15px;
    text-decoration: none;
}

.greeting .singup_logout_btn  a {
    text-decoration: none;
}


.sing-up-block {
    margin-top: 20px;
}

.sing-up-header {
    margin: 0 auto;
    text-align: center;
}

.sing-up-form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.completed-block {
    margin-top: 20px;
}

.completed-tasks {
    margin-top: 20px;
}

.create-block {
    font-style: Roboto;
    margin-top: 20px;
}

.create-form {
    margin-top: 20px;
}

.view-block {
    margin-top: 20px;
}

.view-btns {
    display: flex;
    justify-content: space-between;
} 


.completed-todo a {
    text-decoration: none;
}

.current-header {
    margin-top: 20px;
}

.current-viewtodo {
    margin-top: 20px;
}

.current-important {
    margin-top: 3px;
    background-color: rgba(247, 180, 10, 0.562);
    padding: 8px 0 10px 5px;
    height: 40px;
    width: 600px;
}

.current-viewtodo a {
    text-decoration: none;
    color:rgba(0, 76, 255, 0.841)
}

.current-not-imortant {
    background-color: none;
    padding: 8px 0 10px 5px;    
}

.completed-todo {
    padding-top: 5px;
}

.view-header h4 {
    color:rgba(0, 76, 255, 0.841);
    font-weight: bold;
}

.view-form h5, h6 {
    color:rgba(0, 76, 255, 0.841);
}

.copleted-important {
    margin-top: 3px;
    background-color: rgba(247, 180, 10, 0.562);
    padding: 8px 0 10px 5px;
    height: 40px;
    width: 600px;
}

.completed-not-imortant {
    background-color: none;
    padding: 8px 0 10px 5px;    
}

.login_form .login_form_fields{
    display: flex;

}