{% extends 'todo/base.html' %}

{% block content %}

<div class="container">
    <div class="completed-block">
        <h2>Completed</h2>
        <div class="completed-tasks">
            <ul>
                {% for todo in todos %}
                <li>
                    <div class="completed-todo">
                        <a href="{% url 'viewtodo' todo.id %}">
                            {% if todo.important %}<div class="copleted-important form">{{ todo.title }} {% if todo.memo %} - {{ todo.memo | truncatechars:54 }}  {% endif %} {{ todo.date_completed|date:'M j Y H:i' }}</div> {% endif %} 
                            {% if not todo.important %}<div class="completed-not-imortant"> {{ todo.title }} {% if todo.memo %} - {{ todo.memo | truncatechars:54 }} {% endif %} {{ todo.date_completed|date:'M j Y H:i' }}</div>   {% endif %} 
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>

</div>

{% endblock %}