{% extends 'todo/base.html' %}

{% block content %}
<div class="container">
    <div class="create-block">
        <div class="create-header">
            <h1>Create</h1>
            <h2>{{ error }}</h2>
        </div>
        <div class="create-form">
            <form  method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="button" class="btn btn-outline-danger">Create</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}