{% extends 'todo/base.html' %}


{% block content %}
{% if not user.is_authenticated %}
<div class="row">
    <div class="col-md-12">
        <div class="greeting">Hi! To get started you need to 
            <div class="singup_logout_btn">
                <a href="{% url 'singupuser' %}">
                    <button type="button" class="btn btn-outline-info">Sign Up</button>
                </a>
                <a href="{% url 'loginuser' %}">
                    <button type="button" class="btn btn-outline-primary">Login</button>
                </a>
            </div>
        </div>
    </div>  
</div>
{% else %}
<div class="greeting">Maybe this is a great time to complete the TODO or create a new one?</div>
{% endif %} 
{% endblock %}