{% extends 'todo/base.html' %}


{% block content %}

       

<!--Reset Password-->
<div class="container">
       <h2 class="font-weight-bold col-6 reset-password">Reset Password</h2>

    <div class="foggoten col-6">
      <hr>
      Enter your email address below, and we'll email instructions for setting a new password.
      <br>
      <br>
      <form method="POST">
          {% csrf_token %}
          {{ password_reset_form }}                
          <button class="btn btn-primary send-mail-btn" type="submit">Send email</button>
      </form>
    </div>

  </div>

{% endblock %}