{% extends 'todo/base.html' %}


{% block content %}


<!--Password Reset Confirm-->
  <div class="container">
      <h2 class="font-weight-bold col-6 reset-password">Password Reset Confirm</h2>
      <div class="foggoten col-6">
      <hr>
      Please enter your new password.
      <br>
      <br>
      <form method="POST">
          {% csrf_token %}
          {{ form }}
          <br>                    
          <button class="btn btn-primary" type="submit">Reset password</button>
      </form>
      </div> 
  </div>

{% endblock %}